@font-face {
    font-family: "Luciole";
    src: url(assets/font/Luciole-Regular.ttf);
}

.background{
    /* background: linear-gradient(to right,black, grey); */
    background-color: #F11A7B;
    
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hero, #myself, #skills{
    margin-bottom: 50px;
}
.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.flex-2{
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.heading-2{
    text-align: center;
}
.left{
    width: 50%;
}
.left left{float: left;}
.right left{float: left;}
h3{
    font-family: "Luciole";
    color: #3E001F;
}
.heading>h1{
    font-family: 'Prata', serif;
    font-size: 50px;
    color: #3E001F;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    /* text-shadow: 
    0 0 7px #ffde59,            
    0 0 10px #ffde59,
    0 0 151px #ffde59; */
}

.text{
    display: flex;
    flex-direction: column;
   align-items: center;
}

.birdImg>img{
    filter: invert(100%);
}

.sub-heading>h2{
    font-size: 30px;
    color: #3E001F;
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px; */
    font-family: "Luciole";
}

.heading-2 h2{
    font-size: 30px;
    font-family: "Luciole";
    color: #3E001F;
}

.myImg>img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.sub-heading-2{
    width: 250px;
}


.flex-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-3 h2{
    color: #3e001fa2;
    font-family: sans-serif;
}

button{
    background-color: #F11A7B;
    color: #3E001F;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

footer{
    height: 100px;
    background-color: #c21c67;
}


a{
    color: #3E001F;
    text-decoration: none;
}


@media (max-width: 620px) {
    .heading>h1{
        font-size: xx-large;
        -webkit-text-stroke-width: 0.5px;
    }
    .sub-heading>h2{
        font-size: x-large;
    }
    .heading-2{
        font-size: x-large;
    }
    .birdImg>img{
        width: 200px;
    } 
    .myImg>img{
        height: 100px;
        width: 100px;
    }
    .flex-2{
        flex-direction: column;
    }
    left{
        height: 80px;
    }
    .left{
        width: 100%;
    }
    button{
        font-size: 20px;
    }
    
}
